.bannerLogo {
    background-image: url("/images/wannabebannerlow.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.sometypeMono {
    font-family: "Sometype Mono", monospace;
}