.itemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}