.itemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sometypeMono {
    font-family: "Sometype Mono", monospace;
}