.qr {
    justify-self: end;
    width: 0.3in;
    height: 0.3in;
    display: flex;
    align-items: end;
    justify-content: center;
}

.name {
    font-family: "Caveat", cursive;
    font-size: 1.15rem;
    margin-top: -24px;
    margin-bottom: 12px;
    padding: 0 16px;

    /* limit to 3 lines */
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.price {
    font-family: "Kalam", cursive;
    font-size: 1rem;
    font-weight: 600;
    justify-self: end;
    align-self: end;
    padding-right: 16px;
}

.labels {
    display: flex;
    flex-direction: column;
    page-break-after: auto;
}

.label {
    width: 2in;
    height: 2in;
    box-sizing: border-box;
    border: 1px solid #000;
    /* optional for testing */
    page-break-inside: avoid;
    /* ensures each label is a separate “page” */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 12pt;
}

@media print {
    .label {
        border: none;
    }
}