@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC:wght@400;600&family=Momo+Trust+Display:wght@300;400;600&display=swap');


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: sans-serif;
}

@media print {
  @page {
    size: 2in 2in; /* each label is 2x2 inches */
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
