@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.sheet {
  display: grid;
  grid-template-columns: repeat(2, 3.5in);
  grid-template-rows: repeat(4, 2in);
  gap: 0.25in;
  width: 8.5in;
  height: 11in;
  margin: auto;
  padding: 0.25in;
  box-sizing: border-box;
}

.tag {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 0.25in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag h2 {
  font-size: 14pt;
  margin: 0 0 4px 0;
}

.tag .price {
  font-size: 16pt;
  font-weight: bold;
}

@media print {
  body {
    margin: 0;
  }

  @page {
    size: letter;
    margin: 0;
  }

  .sideNav {
    display: none;
  }
}